.container {
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.body {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-height: 900px) {
    .container {
        padding: 1px;
    }
}
