.navbar {
    display: flex;
    padding: 2% 1%;
    background-color: black;
    color: white;
}

mat-toolbar {
    font-size: 50px;
}

img {
    height: 60px;
}

@media screen and (max-width: 1034px) {
    mat-toolbar {
        font-size: 40px;
    }
    img {
        height: 50px;
    }
}

@media screen and (max-width: 750px) {
    mat-toolbar {
        font-size: 30px;
    }
    img {
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    mat-toolbar {
        font-size: 20px;
    }
    img {
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
    mat-toolbar {
        font-size: 15px;
    }
    img {
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    mat-toolbar {
        font-size: 11px;
    }
    img {
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    mat-toolbar {
        font-size: 7px;
    }
    img {
        height: 40px;
    }
}