<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="number" matInput [formControl]="budgetForm" placeholder="Ingrese un presupuesto">
      <mat-error *ngIf="budgetForm.hasError('required')">
        Debe ingresar un <strong>numero positivo</strong>
      </mat-error>
      <mat-error *ngIf="budgetForm.hasError('pattern')">
        Debe ingresar un <strong>numero positivo</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button>Guardar</button>
  </form>
</div>