<h3>Editar registro</h3>
<mat-form-field floatLabel="always" appearance="fill">
    <input matInput ngModel #nombre="ngModel" name="nombre" id="nombre" placeholder="Ingrese el nombre"
        appearance="fill" required />
    <mat-error *ngIf="!nombre.valid && nombre.touched">
        El nombre del registro es requerido
    </mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="fill">
    <input matInput ngModel #categoria="ngModel" name="categoria" id="categoria"
        placeholder="Ingrese la Categoría" appearance="fill" required />
    <mat-error *ngIf="!categoria.valid && categoria.touched">
        La categoría del registro es requerido
    </mat-error>
</mat-form-field>
<mat-form-field floatLabel="always" appearance="fill">
    <input matInput ngModel #monto="ngModel" type="number" min="0" name="monto" id="monto" appearance="fill"
        placeholder="Ingrese el Monto" required />
    <mat-error *ngIf="!monto.valid && monto.touched">
        El monto del registro es requerido y no puede ser negativo
    </mat-error>
</mat-form-field>
<button mat-raised-button color="accent"
type="submit" class="submit-button">
Guardar
</button>